.theme-icon-active {
    display: none;
}

[data-bs-theme="dark"] .theme-icon-active.bi-moon-fill {
    display: inline-block;
}

[data-bs-theme="light"] .theme-icon-active.bi-sun-fill {
    display: inline-block;
}

[data-bs-theme="auto"] .theme-icon-active.bi-circle-half {
    display: inline-block;
}

.theme-icon {
    display: inline-block;
}

[data-bs-theme="dark"] .bi-moon,
[data-bs-theme="light"] .bi-sun,
[data-bs-theme="auto"] .bi-circle-half {
    display: none;
}

/* https://icons.getbootstrap.com/ */

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}